input{
    border: 1px solid #ccc2c2;
    height: 30px;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 5px;
    font-weight: lighter;
    color:#ccc2c2;
}
button{
    border:none;
    padding: 5px;
    border-radius: 5px;
    color: #615d5d;
    font-size: 14px;
}
span{
    border-bottom: 1px solid #ccc2c2;
}
ul{
    margin-top: 20px;
    list-style-type:none;
    font-weight: lighter;
}